BEARER_TOKEN='AAAAAAAAAAAAAAAAAAAAAJF2fAEAAAAAkqyu3a3Ow8UcKMBb%2BcDJZkmfJWs%3DRZXQ3icwQyd89DQrJ5k0OvwqPnW5HvnN6b61Sr99uBbHMYFrU5'
API_SECRET='8naHG6XDTt5yPtnj4nPlD5bZiVMPabGLLuqjUmNGsV8kMZi4fi'
API_KEY='tHUBKMYI7Bj3kXyt3s1f07UNw'
ACCESS_TOKEN='1180498858008367104-pxsDCsUB5DWKcMQU72fJPOx1p4rAP2'
ACCESS_TOKEN_SECRET='fusOf7NLvNqPBCk59ADuZ4HxjgCU85L0B24hWKQhNvi9V'
CLIENT_ID='bEgxSGRESl9Tc2Z2SkNoNzF3Qko6MTpjaQ'
CLIENT_SECRET='4CAfKUbDjF2CCFC1A-1jsseDVqONeQZ4Wk7qv9OwNbHxoNP_XI'